<!DOCTYPE html>
<html lang="en">

{{template "header" .}}


<body>

    <title>Website - Projects</title>

    <div id="left" class="column">
        <div class="top-left"></div>
        <div class="bottom-left">
          <div id="navbar"></div>
        </div>
    </div>

    <div id="right" class="column">
        <div class="right">
          <div class="projectlist">
            <li><a href="/projects/sampleproject">Sample Project</a><li>
          </div>
        </div>
    </div>

</body>

</html>
