<div id="navbar" class="navbar">
  <a class="logo" href="/">YOUR NAME</a>
  <br>
  <br>
  <div class-"nav-list">
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/projects">PROJECTS</a></li>
    <li><a href="/blog">BLOG</a></li>
  </div>
  <br>
</div>
  <div class="icons">
    <div class="icon">
      <a href="mailto:email@abc.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
    <div class="icon">
      <a href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
    <div class="icon">
      <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
</div>
